[submodule "resources"]
	path = resources
	url = git@github.com:Moztanku/2_5D_game-resources.git
[submodule "ResourceLoader"]
	path = ResourceLoader
	url = git@github.com:Moztanku/ResourceLoader.git
[submodule "flecs"]
	path = flecs
	url = https://github.com/SanderMertens/flecs.git
